

.routes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}


.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}

.carousel1 {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}


.slide {
    min-width: 100%;
    max-width: 100%;
    display: none; /* Hide all images initially */
}

.slide.active {
    display: block; /* Display the active image */
}



.slide1 {
    min-width: 100%;
    max-width: 100%;
    display: none; /* Hide all images initially */
}

.slide1.active {
    display: block; /* Display the active image */
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
